Makefile.in
aclocal.m4
autom4te.cache/
build/
compile
config.h.in
configure
depcomp
install-sh
missing
*.o
*.a
*.lo
*.la
Makefile
config.h
config.log
config.status
doc/netcdfLoad.1
netcdfLoad
src/.deps/
src/.dirstamp
src/configuration/.deps/
src/configuration/.dirstamp
src/configuration/parameter/.deps/
src/configuration/parameter/.dirstamp
stamp-h1
netcdfLoadTest
test/.deps/netcdfLoadTest-TimeSpecificationTest.Po
test/.deps/netcdfLoadTest-timeTest.Po
debian/*.log
netcdfload-0.7.0.tar.gz
netcdfload-0.7.0/
*.dsc
*.orig.tar.gz
*.tar.gz
*_amd64.changes
*_amd64.deb
.autotools
.cproject
.project
.settings/

ar-lib
