Source: wdb-netcdfload
Section: science
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Vegard Bønes <vegard.bones@met.no>
Build-Depends: debhelper (>= 7), autotools-dev, cdbs,
 help2man,
 libfimex-dev,
 libboost-dev, 
 libboost-program-options-dev,
 libboost-regex-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libpqxx3-dev,
 libxml2-dev,
 liblog4cpp5-dev,
 xmlto
Standards-Version: 3.9.3 

Package: wdb-netcdfload-0.12
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: wdb-netcdfload
Conflicts: wdb-netcdfload, netcdfload
Description: Load field data from netcdf files into wdb
 Loads files that are readable by fimex into a wdb database. Change
 configuration file to suit your need for particular NetCDF file.
